html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar, .App::-webkit-scrollbar {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
